@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Buna ziua!</h1>
    
</div>

<p>Pentru a genera parola unica accesati butounul Generare parola unica din meniu.</p>
